@import url('https://fonts.googleapis.com/css?family=Heebo:500,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
* {
       margin: 0;
       padding: 0;
       color: #ffffff;
       font-family: helvetica;
     }

 body {
   background-color: white;
 }

     html body {
       height: 100vh;
       width: 100%;
     }

.grid1 {
   min-height: 100vh;
   display: grid;
   grid-template-columns: 22% 78%;
   grid-template-areas:
   "header main"
   "header main"
   "header footer";
}

header {
 grid-area: header;
 background-color: white;
 display: grid;
 position: fixed;
 top: 0;
 left: 0;
  height: 100%;
  width: 22%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
 grid-template-rows: 35% 65%;

}

nav {
  grid-row: 2 / 2;
  position: relative;
  width: 100%;
  color: black;
  border-top: 0.01rem solid;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{

}
nav ul li a{
  display: block;
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 100%;
  font-family: 'Anton', sans-serif;

}

.cube {
	width: 70%;
	text-align: center;
  position: relative;
  top: 60px;
  right: 110px;
	margin: 0 auto;
	height: 100px;

	-webkit-transform-style: preserve-3d;
	-webkit-animation: rotate-cube 10s linear infinite;
}

.front, .bottom, .top, .back {
	background: white;
	border: 1px solid black;
	-webkit-border-radius: 5px;
	height: 100px;
    position: absolute;
    width: 100%;
}

.front {
	-webkit-transform: translateZ(50px);
}

.bottom {
	-webkit-transform: rotateX(90deg) translateZ(-50px) rotateY(180deg) rotateZ(180deg);
}

.top {
	-webkit-transform: rotateX(-90deg) translateZ(-50px) rotateY(180deg) rotateZ(180deg);
}

.back {
	-webkit-transform: rotateX(180deg) translateZ(50px);
}

 h1{
   color: black;
   font-family: 'Anton', sans-serif;
 }
 h2{
   color: black;
   font-family: 'Anton', sans-serif;
 }

@-webkit-keyframes rotate-cube {
	0%{-webkit-transform: rotateX(0deg);}
	20%{-webkit-transform: rotateX(90deg);}
	40%{-webkit-transform: rotateX(180deg);}
	60%{-webkit-transform: rotateX(270deg);}
	80%{-webkit-transform: rotateX(360deg);}
	100%{-webkit-transform: rotateX(360deg);}

}

main {
 margin-top: 50px;
 margin-bottom: 50px;

 margin-right: 30px;
 display: grid;
 grid-area: main;
 grid-template-columns: 15% 13% 28% 2% 43%;
 grid-template-rows: 65% 35%;
}

.dateofart{
  color: black;
  grid-column: 1 / 1;
  grid-row: 1 / 2;
  position: sticky;
  top: 0;
  margin-left: 25px;
  font-size: 1em;
}
.articletitle{
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}

     .shape{
     grid-column: 2 / 2;
     grid-row: 1 / 1;
     /*height: 450px;
     width: 30px;*/
     height: 90%;
     width: 15%;
     background-color: #FE3E49;
   }

   .shape1{

     grid-column-start: 2;
     grid-column-end: 2;
     grid-row: 1 / 1;
     /*height: 450px;
     width: 190px;*/
     height: 90%;
     width: 100%;
     background-color: white;
     z-index: -1;
   }

   .shape2{

     grid-column: 2 / 2;
     grid-row: 1 / 1;
     position: relative;
     top: 429px;
     left: 27px;
     /*height: 40px;
     width: 40px;*/
     height: 7%;
     width: 20%;
     background-color: #10A44C;
     opacity: 85%;
   }

   .shape3{

     grid-column: 2 / 2;
     grid-row: 2 / 2;
     position: relative;
     bottom: 55px;
     /*height: 350px;
     width: 190px*/
     height: 120%;
     width: 100%;
     background-color: #251F1F;
   }

    .shape4{
     grid-column: 3 / 3;
     grid-row: 1 / 1;
     /*height: 350px;
     width: 190px;*/
     height: 100%;
     width: 100%;
     background-color: #FFD80E;
     opacity: 90%;
     box-shadow: 0 30px 40px rgba(0,0,0,.1);
     z-index: -1;
   }

   .shape5{
     grid-column: 3 / 3;
     grid-row: 1 / 1;
     position: relative;
     top: 465px;
     /*height: 350px;
     width: 190px;*/
     height: 10%;
     width: 21%;
     background-color: #AF3997;
     opacity: 85%;
   }

   .shape6{
     grid-column: 2 / 2;
     grid-row: 2 / 2;
     position: relative;
     top: 50px;
     left: 95px;
     /*height: 350px;
     width: 190px;*/
     height: 20%;
     width: 35%;
     background-color: #47BCDD;
   }

   .shape7{
     grid-column: 3 / 3;
     grid-row: 2 / 2;
     /*height: 350px;
     width: 190px;*/
     height: 100%;
     width: 100%;
     background-color: #F2C9CD;
   }

   .shape8{
     grid-column: 5 / 5;
     grid-row: 1 / 1;
      /*height: 450px;
     width: 450px;*/
     height: 70%;
     width: 100%;
     box-shadow: 0 30px 40px rgba(0,0,0,.1);
     background: rgb(255,0,26);
     z-index: -2;
background: linear-gradient(90deg, rgba(255,0,26,1) 0%, rgba(242,242,242,1) 1%, rgba(255,0,26,1) 5%);
   }

   .shape9{
     grid-column: 5 / 5;
     grid-row: 1 / 1;
     position: relative;
     top: 70%;
     /*height: 300px;
     width: 450px;*/
     height: 30%;
     width: 100%;
     background-color: white;
   }

   .shape10{
     grid-column: 5 / 5;
     grid-row: 2 / 2;
     /*height: 300px;
     width: 450px;*/
     height: 100%;
     width: 100%;
     background-color: #F6C60E;
     opacity: 90%;
     z-index: -1;
   }

   .shape11{
     grid-column: 5 / 5;
     grid-row: 1 / 1;
     position: relative;
     top: 270px;
     left: 90px;
     /*height: 300px;
     width: 450px;*/
     height: 7%;
     width: 7%;
     background-color: #29B4D3;
   }

   .shape12{
     grid-column: 5 / 5;
     grid-row: 1 / 1;
     position: relative;
     top: 55%;
     left: 93%;
     /*height: 300px;
     width: 450px;*/
     height: 15%;
     width: 7%;
     background-color: black;
   }

   .shape13{
     grid-column: 5 / 5;
     grid-row: 1 / 1;
     position: relative;
     top: 70%;
     left: 93%;
     /*height: 300px;
     width: 450px;*/
     height: 22%;
     width: 7%;
     background-color: #F1C9CA;
   }

   .shape14{
     grid-column: 5 / 5;
     grid-row: 1 / 1;
     position: relative;
     top: 92%;
     left: 93%;
     /*height: 300px;
     width: 450px;*/
     height: 8%;
     width: 7%;
     background-color: black;
   }

  .shape15{
    grid-column: 5 / 5;
    grid-row: 1 / 1;
    position: relative;
    left: 30px;
    top: 23px;
    opacity: 95%;
    height: 6%;
    width: 83%;
    background-color: black;
    z-index: -1;
  }

   .arttitle1{
     grid-column: 3 / 3;
     grid-row: 1 / 1;
     writing-mode:vertical-rl;
     position: relative;
     left: 25px;
     margin: 0;
     padding: 0;
     color: black;
     font-size: 10em;
     font-family: 'Heebo', sans-serif;
     font-weight: 300;
   }

   .arttitle2{
     grid-column: 3 / 3;
     grid-row: 1 / 1;
     margin: 0;
     padding: 0;
     color: black;
     font-size: 7.5em;
     font-family: 'Heebo', sans-serif;
     font-weight: 500;
   }

   .arttitle3{
     grid-column: 4 / 4;
     grid-row: 1 / span 2;
     white-space: nowrap;
     writing-mode:vertical-rl;
     position: relative;
     right: 3px;
     margin: 0;
     padding: 0;
     color: black;
     font-size: 1em;
   }

   .subtitle{
     grid-column: 5 / 5;
     grid-row: 1 / 1;
     position: relative;
     top: 30px;
     left: 32px;
     margin: 0;
     padding: 0;
     color: black;
     width: 70%;
     color: white;
     white-space: nowrap;
   }

   .content{
       grid-column: 5 / 5;
       grid-row: 2 / 2;
       position: relative;
       top: 15px;
       left: 20px;
       margin: 0;
       padding: 0;
       color: black;
       font-size: 22px;
       width: 93%;
       font-family: 'Heebo', sans-serif;
     }

     .date{
       grid-column: 5 / 5;
       grid-row: 1 / 1;
       position: relative;
       left: 25px;
       top: 55px;
       margin: 0;
       padding: 0;
       color: black;
       font-size: 4em;
       width: 80%;
       white-space: nowrap;
     }


footer {
  grid-area: footer;
  height: 10em;
  width: 100%;
  background-color: white;
  border-top: 0.01rem solid black;
}
