* {
       margin: 0;
       padding: 0;
       color: #ffffff;
       font-family: helvetica;
     }

     body {
       background-color: #FFFDC7;
     }

     html body {
       height: 100vh;
       width: 100%;
     }

     .grid {
       min-height: 100vh;
       display: grid;
       grid-template-columns: 10% 15% 25% 40% 10%;
       /*grid-template-rows: 100px 0.1fr auto auto 0.1fr 100px;*/
       grid-template-rows: 100px 10px 400px 400px 10px 100px;
       grid-template-areas:
       "header header header header header"
       ". . . . . "
       ". main main main ."
       ". main main main ."
       ". . . . ."
       "footer footer footer footer footer";
     }
     /*Header*/

     .header {
       grid-area: header;
       background-color: red;
       display: grid;
       position: static;
       height: 100px;
       width: 100%;
       grid-template-columns: 40% 60%;
       grid-template-areas:
       "title navigation"
     }

     .title {
       grid-area: title;
       text-align: center;
     }

     .navigation {
       grid-area: navigation;
     }

     .title .navigation {
     }

     /*Main*/

     .main {
       /*margin-top: 50px;
       margin-bottom: 50px;*/
       display: grid;
       grid-area: main;
       grid-template-columns: 17% 32% 2% 49%;
       grid-template-rows: 65% 35%;
       grid-template-areas:
       "main main main main"
       "main main main main";
     }

     .shape{
     grid-area: main;
     grid-column: 1 / 1;
     grid-row: 1 / 1;
     /*height: 450px;
     width: 30px;*/
     height: 90%;
     width: 15%;
     background-color: #FE3E49;
   }

   .shape1{
     grid-area: main;
     grid-column-start: 1;
     grid-column-end: 1;
     grid-row: 1 / 1;
     /*height: 450px;
     width: 190px;*/
     height: 90%;
     width: 100%;
     background-color: white;
     z-index: -1;
   }

   .shape2{
     grid-area: main;
     grid-column: 1 / 1;
     grid-row: 1 / 1;
     position: relative;
     top: 429px;
     left: 27px;
     /*height: 40px;
     width: 40px;*/
     height: 7%;
     width: 20%;
     background-color: #10A44C;
     opacity: 85%;
   }

   .shape3{
     grid-area: main;
     grid-column: 1 / 1;
     grid-row: 2 / 2;
     position: relative;
     bottom: 55px;
     /*height: 350px;
     width: 190px*/
     height: 120%;
     width: 100%;
     background-color: #251F1F;
   }

   .shape4{
     grid-area: main;
     grid-column: 2 / 2;
     grid-row: 1 / 1;
     /*height: 350px;
     width: 190px;*/
     height: 100%;
     width: 100%;
     background-color: #FFD80E;
     opacity: 90%;
     box-shadow: 0 30px 40px rgba(0,0,0,.1);
     z-index: -1;
   }

   .shape5{
     grid-area: main;
     grid-column: 2 / 2;
     grid-row: 1 / 1;
     position: relative;
     top: 442px;
     /*height: 350px;
     width: 190px;*/
     height: 15%;
     width: 25%;
     background-color: #AF3997;
     opacity: 85%;
   }

   .shape6{
     grid-area: main;
     grid-column: 1 / 1;
     grid-row: 2 / 2;
     position: relative;
     left: 101px;
     /*height: 350px;
     width: 190px;*/
     height: 28%;
     width: 45%;
     background-color: #47BCDD;
   }

   .shape7{
     grid-area: main;
     grid-column: 2 / 2;
     grid-row: 2 / 2;
     /*height: 350px;
     width: 190px;*/
     height: 100%;
     width: 100%;
     background-color: #F2C9CD;
   }

   .shape8{
     grid-area: main;
     grid-column: 4 / 4;
     grid-row: 1 / 1;
      /*height: 450px;
     width: 450px;*/
     height: 70%;
     width: 100%;
     box-shadow: 0 30px 40px rgba(0,0,0,.1);
     background: rgb(255,0,26);
background: linear-gradient(90deg, rgba(255,0,26,1) 0%, rgba(242,242,242,1) 1%, rgba(255,0,26,1) 5%);
   }

   .shape9{
     grid-area: main;
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     top: 70%;
     /*height: 300px;
     width: 450px;*/
     height: 30%;
     width: 100%;
     background-color: white;
   }

   .shape10{
     grid-area: main;
     grid-column: 4 / 4;
     grid-row: 2 / 2;
     /*height: 300px;
     width: 450px;*/
     height: 100%;
     width: 100%;
     background-color: #F6C60E;
     opacity: 90%;
   }

   .shape11{
     grid-area: main;
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     top: 270px;
     left: 90px;
     /*height: 300px;
     width: 450px;*/
     height: 7%;
     width: 7%;
     background-color: #29B4D3;
   }

   .shape12{
     grid-area: main;
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     top: 55%;
     left: 93%;
     /*height: 300px;
     width: 450px;*/
     height: 15%;
     width: 7%;
     background-color: black;
   }

   .shape13{
     grid-area: main;
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     top: 70%;
     left: 93%;
     /*height: 300px;
     width: 450px;*/
     height: 22%;
     width: 7%;
     background-color: #F1C9CA;
   }

   .shape14{
     grid-area: main;
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     top: 92%;
     left: 93%;
     /*height: 300px;
     width: 450px;*/
     height: 8%;
     width: 7%;
     background-color: #8B2676;
   }

   .arttitle1{
     grid-area: main;
     grid-column: 2 / 2;
     grid-row: 1 / 1;
     transform: rotate(-90deg);
     margin: 0;
     padding: 0;
     color: black;
     font-size: 150px;
   }

   .arttitle2{
     grid-area: main;
     grid-column: 2 / 2;
     grid-row: 1 / 1;
     margin: 0;
     padding: 0;
     color: black;
     font-size: 150px;
   }

   .arttitle3{
     grid-area: main;
     grid-column: 3 / 3;
     grid-row: 1 / span 2;
     white-space: nowrap;
     writing-mode:vertical-rl;
     position: relative;
     margin: 0;
     padding: 0;
     color: black;
     font-size: 16px;
   }

   .subtitle{
     grid-area: main;
     grid-column: 2 / 2;
     grid-row: 1 / 2;
     position: relative;
     top: 450px;
     left: 87px;
     margin: 0;
     padding: 0;
     color: black;
     font-size: 22px;
     width: 80%;
   }

   .content{
       grid-area: main;
       grid-column: 4 / 4;
       grid-row: 1 / 1;
       position: relative;
       left: 30px;
       margin: 0;
       padding: 0;
       color: black;
       font-size: 22px;
       width: 93%;
     }

     .date{
       grid-area: main;
       grid-column: 2 / 2;
       grid-row: 2 / 2;
       position: relative;
       margin: 0;
       padding: 0;
       color: black;
       font-size: 80px;
       width: 80%;
     }

     /*Footer*/

     .footer {
       grid-area: footer;
       height: 100px;
       width: 100%;
       background-color: black;
     }

     @media (max-width: 800px){
        .grid{
          grid-template-columns: 20% 30% 50%;
          grid-template-rows: 100px 20px 400px 400px 20px 100px;
          grid-template-areas:
            "header header header"
            ". . ."
            "main main main"
            "main main main"
            ". . ."
            "footer footer footer";
        }
      }

      @media (max-width: 600px){
         .grid{
           grid-template-columns: 50% 50%;
           grid-template-rows: 100px 20px 400px 400px 400px 20px 100px;
           grid-template-areas:
             "header header"
             ". . "
             "main main"
             "main main"
             "main main"
             ". . "
             "footer footer";
         }
       }

       @media (max-width: 600px){
          .main{
            grid-template-columns: 17% 32% 2% 49%;
            grid-template-rows: 65% 35%;
            grid-template-areas:
            "main main main main"
            "main main main main";
          }
        }
