* {
       margin: 0;
       padding: 0;
       color: #ffffff;
       font-family: helvetica;
     }

 body {
   background-color: white;
 }

     html body {
       height: 100vh;
       width: 100%;
     }

     @font-face {
font-family: "MADE Coachella";
src: url("fonts/MADE Coachella Regular PERSONAL USE.eot") format("otf");
}

@font-face {
font-family: "coolvetica";
src: url("fonts/coolvetica/coolveticarg.woff") format("woff");
src: url("fonts/coolvetica/coolveticarg.woff2") format("woff2");
}

.grid {
   min-height: 100vh;
   display: grid;
   grid-template-areas:
   "header"
   "main"
   "main"
   "footer";
}
     /*Header*/

header {
 grid-area: header;
 background-color: white;
 display: grid;
 position: fixed;
 z-index: 3;
 height: 3em;
 width: 100%;
 grid-template-columns: 25% 75%;
 border-bottom: 1px solid black;
}

     .title {
       position: relative;
       top: 5px;
       text-align: center;
       grid-column: 1 / 1;
       color: black;
       position: relative;
       left: 5%;
     }

     nav{
      grid-column: 2 / 2;
     }

      nav ul {
        list-style-type: none;
        display: flex;
     margin: 0;
     padding: 0;
     overflow: hidden;
     width: 100%;
     justify-content: space-around;
      }

      nav ul li{
        float: left;
        margin-top: 15px;
      }

      nav ul li a{
        display: inline-block;
     color: black;
     text-align: center;
     text-decoration: none;
     transition: 0.3s;
     font-size: 1em;
     width: 100%;
      }

      .burger {
        display: none;
      }

      .burger div {
        width: 25px;
        height: 5px;
        background-color: black;
        margin: 5px;
      }

      @media screen and (max-width:750px){
        header {
         grid-area: header;
         background-color: white;
         display: grid;
         position: fixed;
         z-index: 3;
         height: 3em;
         width: 100%;
         grid-template-columns: 90% 10%;
         border-bottom: 1px solid black;
        }
        body{
          overflow-x: hidden;
        }
        nav ul{
          position: absolute;
          right: 0px;
          height: 98vh;
          top: 8vh;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          transform: translateX(100%);
          transition: transform 0.5s ease-in;
        }

        nav ul li{
        }

        .burger{
          position: relative;
          top: 5px;
          left: 5px;
          display: block;
          cursor: pointer;
        }
        .nav-active{
          transform: translateX(0%);
        }

        @keyframes navLinkFade{
          from{
            opacity: 0;
            transform: translateX(50px);
          }
          to{
            opacity: 1;
            transform: translateX(0px);
          }

        }

      }

     /*Main*/

.subgrid {
 margin-top: 70px;
 margin-bottom: 50px;
 margin-left: 20px;
 margin-right: 20px;
 display: grid;
 grid-area: main;
 grid-template-columns: 17% 32% 2% 49%;
 grid-template-rows: 65% 35%;
}

.articletitle{
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

     .shape{
     grid-column: 1 / 1;
     grid-row: 1 / 1;
     /*height: 450px;
     width: 30px;*/
     height: 90%;
     width: 15%;
     background-color: #FE3E49;
   }

   .shape1{

     grid-column-start: 1;
     grid-column-end: 1;
     grid-row: 1 / 1;
     /*height: 450px;
     width: 190px;*/
     height: 90%;
     width: 100%;
     background-color: white;
     z-index: -1;
   }

   .shapemove1{
     grid-column: 1 / 1;
     grid-row: 1 / 1;
     position: relative;
     left: 45%;
     top: 55%;
     /*height: 40px;
     width: 40px;*/
     height: 5%;
     width: 12%;
     background-color: #47BCDD;
     opacity: 85%;
     -webkit-animation: mover 3s infinite  alternate;
    animation: mover 3s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(100px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(100px); }
}
   .shape2{
     grid-column: 1 / 1;
     grid-row: 1 / 1;
     position: relative;
     top: 395px;
     left: 32px;
     /*height: 40px;
     width: 40px;*/
     height: 7%;
     width: 15%;
     background-color: #10A44C;
     opacity: 85%;
   }

   .shape3{

     grid-column: 1 / 1;
     grid-row: 2 / 2;
     position: relative;
     bottom: 55px;
     /*height: 350px;
     width: 190px*/
     height: 120%;
     width: 100%;
     background-color: #251F1F;
   }

    .shape4{
     grid-column: 2 / 2;
     grid-row: 1 / 1;
     /*height: 350px;
     width: 190px;*/
     height: 100%;
     width: 100%;
     background-color: #FFD80E;
     opacity: 90%;
     box-shadow: 0 30px 40px rgba(0,0,0,.1);
     z-index: -1;
   }

   .shape5{
     grid-column: 2 / 2;
     grid-row: 1 / 1;
     position: relative;
     top: 410px;
     /*height: 350px;
     width: 190px;*/
     height: 15%;
     width: 25%;
     background-color: #AF3997;
     opacity: 85%;
   }

   .shape6{
     grid-column: 1 / 1;
     grid-row: 2 / 2;
     position: relative;
     left: 101px;
     /*height: 350px;
     width: 190px;*/
     height: 28%;
     width: 45%;
     background-color: #47BCDD;
   }

   .shape7{
     grid-column: 2 / 2;
     grid-row: 2 / 2;
     /*height: 350px;
     width: 190px;*/
     height: 100%;
     width: 100%;
     background-color: #F2C9CD;
     z-index: -1;
   }

   .image{
     grid-column: 2 /2 ;
     grid-row: 2 / 2;
     position: relative;
     bottom: 2.5%;
     width: 85%;
   }

   .shape8{
     grid-column: 4 / 4;
     grid-row: 1 / 1;
      /*height: 450px;
     width: 450px;*/
     height: 70%;
     width: 100%;
     z-index: -2;
     box-shadow: 0 30px 40px rgba(0,0,0,.1);
     background: rgb(255,0,26);
background: linear-gradient(90deg, rgba(255,0,26,1) 0%, rgba(242,242,242,1) 1%, rgba(255,0,26,1) 5%);
   }

   .shape9{
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     top: 70%;
     /*height: 300px;
     width: 450px;*/
     height: 30%;
     width: 100%;
     background-color: white;
   }

   .shape10{
     grid-column: 4 / 4;
     grid-row: 2 / 2;
     /*height: 300px;
     width: 450px;*/
     height: 100%;
     width: 100%;
     background-color: #F6C60E;
     opacity: 90%;
     z-index: -1;
   }

   .shape11{
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     top: 230px;
     left: 8%;
     /*height: 300px;
     width: 450px;*/
     height: 7%;
     width: 18%;
     background-color: #29B4D3;
     z-index: -1;
   }

   .shape12{
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     top: 55%;
     left: 93%;
     /*height: 300px;
     width: 450px;*/
     height: 15%;
     width: 7%;
     background-color: black;
   }

   .shapemove2{
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     left: 70%;
     top: 90%;
     /*height: 40px;
     width: 40px;*/
     height: 3%;
     width: 2%;
     background-color: #10A44C;
     opacity: 85%;
     -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
    @-webkit-keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-20px); }
    }
    @keyframes mover {
      0% { transform: translateY(0); }
      100% { transform: translateY(-20px); }
    }

   .shape13{
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     top: 70%;
     left: 93%;
     /*height: 300px;
     width: 450px;*/
     height: 22%;
     width: 7%;
     background-color: #F1C9CA;
   }

   .shape14{
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     top: 92%;
     left: 93%;
     /*height: 300px;
     width: 450px;*/
     height: 8%;
     width: 7%;
     background-color: #8B2676;
   }

   .shape15{
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     left: 5%;
     top: 4px;
     background-color: white;
     height: 7%;
     width: 95%;
     z-index: -1;
   }

   .shape16{
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     left: 5%;
     top: 40px;
     opacity: 80%;
     background-color: #ed4af0;
     height: 7%;
     width: 95%;
     z-index: -1;
   }

   .arttitle1{
     grid-column: 2 / 2;
     grid-row: 1 / 1;
     position: relative;
     right: 12px;
     bottom: 30px;
     margin: 0;
     padding: 0;
     color: black;
     font-size: 200px;
     font-family: MADE Coachella;
   }

   .arttitle2{
     grid-column: 2 / 2;
     grid-row: 1 / 1;
     position: relative;
     right: 30px;
     bottom: 40px;
     margin: 0;
     padding: 0;
     color: black;
     font-size: 200px;
     width: 80%;
     font-family: MADE Coachella;
   }

   .arttitle3{
     grid-column: 3 / 3;
     grid-row: 1 / span 2;
     white-space: nowrap;
     writing-mode:vertical-rl;
     position: relative;
     right: 20%;
     margin: 0;
     padding: 0;
     color: black;
     font-size: 16px;
     font-family: MADE Coachella;
   }

   .subtitle{
     grid-column: 4 / 4;
     grid-row: 1 / 1;
     position: relative;
     left: 40px;
     margin: 0;
     padding: 0;
     color: black;
     font-size: 2em;
     width: 90%;
     font-family: coolvetica;
     letter-spacing: 1.5px;
   }

   .content{
       grid-column: 4 / 4;
       grid-row: 2 / 2;
       position: relative;
       left: 20px;
       margin: 0;
       padding: 0;
       color: black;
       font-size: 20px;
       width: 93%;
       font-family: coolvetica;
       letter-spacing: 1.2px;
     }

     .concdate{
       grid-column: 4 / 4;
       grid-row: 1 / 1;
       position: relative;
       top: 140px;
       left: 8.5%;
       margin: 0;
       padding: 0;
       color: black;
       font-size: 4em;
       height: 20%;
       width: 80%;
       font-family: coolvetica;
       letter-spacing: 1.5px;
     }

     .conctime{
       grid-column: 4 / 4;
       grid-row: 1 / 1;
       position: relative;
       top: 233px;
       left: 8.5%;
       margin: 0;
       padding: 0;
       color: black;
       font-size: 1.5em;
       width: 50%;

     }

     /* Stress Article */
     .subgrid2 {
      margin-top: 70px;
      margin-bottom: 50px;
      margin-left: 20px;
      margin-right: 20px;
      display: grid;
      grid-area: main;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: auto auto;
     }

  .art2title{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    background-color: #ff5e00;
  }
     .trapezoid{
       grid-column: 2 / 2;
       border-radius: 30px 30px 30px 30px;
        border-top: 22em solid #ffd500;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100px;
    width: 80%;
     }

     .bottomshape{
       position: relative;
       border: solid 1px black;
       bottom: 10%;
       left: 3em;
       border-radius: 10px;
       width: 80%;
     height: 7em;
     background: #ffd500;
     }

     .image2{
       grid-column: 1 / 3;
       grid-row: 2 / 2;
       width: 100%;
       height: 35em;
     }

     .artintro{
       grid-column: 3 / 3;
       grid-row: 2 / 2;
       position: relative;
       top: 10%;
       color: black;
       height: 100%;
       font-size: 1.7em;
     }

     #students{
       position: relative;
       bottom: 85%;
       left: 7%;
       padding: 0;
       margin: 0;
       color: #ff5e00;
        -webkit-text-stroke: 0.8px black;
       font-size: 4.5em;
       transform-origin: 50% 100%;
	transform: perspective(800px) rotateX(-20deg);
     }

     #howto{
       position: relative;
       bottom: 85%;
       left: 7%;
       padding: 0;
       margin: 0;
       color: #ff5e00;
        -webkit-text-stroke: 0.8px black;
       font-size: 4.5em;
       transform-origin: 50% 100%;
	transform: perspective(800px) rotateX(-20deg);
     }

     #dealwith{
       position: relative;
       bottom: 85%;
       left: 7%;
       padding: 0;
       margin: 0;
       color: #ff5e00;
        -webkit-text-stroke: 0.8px black;
       font-size: 4.5em;
       transform-origin: 50% 100%;
	transform: perspective(800px) rotateX(-20deg);
     }

     #stress{
       position: relative;
       bottom: 85%;
       left: 7%;
       padding: 0;
       margin: 0;
       color: #ff5e00;
        -webkit-text-stroke: 0.8px black;
       font-size: 4.5em;
       transform-origin: 50% 100%;
	transform: perspective(800px) rotateX(-20deg);
     }

     #underline{
       position: relative;
       border: solid 1px black;
       bottom: 86%;
       left: 2.1em;
       border-radius: 10px;
       width: 23.8em;
     height: 0.2em;
     background-color: #ff5e00;
     }

     .anishapes{
       grid-column: 1 / 1;
       grid-row: 1 / 1;
     }

     #anishape1{
       width: 5em;
      height: 5em;
      background: red;
      border-radius: 5px;
      position: relative;
      left: 42%;
      top: 22%;
     }

     #anishape2{
       position: relative;
       top: 50%;
       width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
     }

     .anishapes2{
       grid-column: 3 / 3;
       grid-row: 1 / 1;
     }

     #anishape3{
       position: relative;
       left: 15%;
       top: 10%;
       width: 0;
     height: 0;
     border-left: 50px solid transparent;
     border-right: 50px solid transparent;
     border-bottom: 100px solid red;
     }

     #anishape4{
       position: relative;
       top: 53%;

      left: 37%;
       width: 200px;
      height: 100px;
      background: red;
      border-radius: 100px / 50px;
     }

     #anishape5{
       position: relative;
       top: 3%;
       left: 81%;
       width: 5em;
      height: 5em;
      background: red;
      border-radius: 5px;
     }
     /*Footer*/

     footer {
       grid-area: footer;
       display: grid;
       grid-template-columns: auto;
       grid-template-rows: auto;
       min-height: 100%;
       height: 8em;
       width: 100%;
       background-color: black;
     }


     /* @media (max-width: 800px){
        .grid{
          grid-template-columns: 20% 30% 50%;
          grid-template-rows: 100px 20px 400px 400px 20px 100px;
          grid-template-areas:
            "header header header"
            ". . ."
            "main main main"
            "main main main"
            ". . ."
            "footer footer footer";
        }
      } */

      /* @media (max-width: 600px){
         .grid{
           grid-template-columns: 50% 50%;
           grid-template-rows: 100px 20px 400px 400px 400px 20px 100px;
           grid-template-areas:
             "header header"
             ". . "
             "main main"
             "main main"
             "main main"
             ". . "
             "footer footer";
         }
       } */

       /* @media (max-width: 600px){
          .main{
            grid-template-columns: 17% 32% 2% 49%;
            grid-template-rows: 65% 35%;
            grid-template-areas:
            "main main main main"
            "main main main main";
          }
        } */

        /*@media only screen and (max-width: 800px) {
          header {
           grid-area: header;
           background-color: white;
           display: grid;
           position: fixed;
           z-index: 3;
           height: 3em;
           width: 100%;
           grid-template-columns: 90% 10%;
           border-bottom: 1px solid black;
          }



        }*/
